@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: "Poppins", sans-serif;
}

.main{
    min-height: 100vh;
    width: 100%;
    /* background-color:antiquewhite; */
}

.nav{
    /* background-color: #ff3c78; */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo ,.nav-icons{
    padding: 20px 80px;
}
.logo {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-icons a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.nav-icons a:hover{
    color: #CD0D09;
}

.title {
    text-align: center;
    margin-top: 100px;
}
.title h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.title .underline {
    height: 3px;
    background-color: #CD0D09;
    width: 2%;
    margin: auto;
    transition: width 0.3s ease-in;
}

.title h1:hover + .underline{
    width: 15%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    gap: 17px;
}

.content {
    width: 20%;
    min-width: 250px;
    min-height: 350px;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f2f2f2;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.24);
    transform: translateY(-3px);
}

img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

h3{
    text-align: center;
    font-size: 20px;
    margin: 0;
    
}

p {
    text-align: left;
    color: #959a9d;
    /* padding: 0 8px; */
    font-size: 12px;
}

h6 {
    font-size: 18px;
    text-align: center;
    color: #222f25;
    /* margin: 5px 0; */
}


/* button {
    text-align: center;
    width: 100%;
    border: none;
    background-color:#cd0c09cd;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.product-gallery {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
    /* background-color: #b2bec3; */
    margin: auto;
    margin-top: 150px;
    gap: 50px;
}

.item{
    width: 45%;
    height: 50vh;
    /* background-color: #CD0D09; */
    display: flex;

}

.product{
    position: relative;
    width: 250px;
    height: 330px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;

}
.product img:hover{
    width: 105%;
}


.product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: width 0.5s ease;
   
}


.item-details {
    width: 350px;
    height: 90%;
    /* background-color: aqua; */
    margin: auto;
}

.name-of-p{
    height: 40%;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 0 15px;
}
button{
    padding: 7px 15px;
    border-radius: 3px;
    background-color: #cd0c09d4;
    color: #f2f2f2;
    border: none;
    margin-top: 5px;
}

button:hover{
    background-color: #cd0c09;
}
.rating{
    margin-top: 10%;
    height: 40%;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    
}

.bar{
    width:240px;
    height:4px;
    background-color:gray;
    border-radius:2px;
    
    
}
.percentage{
    /* width:80%; */
    height:100%;
    /* background-color:lightgreen; */
    border-radius:2px;
    
}
.rates{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;;
}

.footer{
    min-height: 30vh;
    width: 89%;
    /* background-color: antiquewhite; */
    margin: auto;
    margin-top: 120px;
}

.upfoot{
    height: 70%;
    width: 100%;
    display: flex;
    
    
}
.logo-des{
    flex:2;
    height: 100%;
    /* background-color: aquamarine; */
}
.prod{
    flex:0.7;
}

.prod h3{
    text-align: left;
}
.prod-list{
    display: flex;
    flex-direction: column;

}
.prod-list a{
    text-decoration: none;
    color: #000000;
}
.prod-list a:hover{
    color: rgba(205, 13, 9);
}

.imp-links{
    flex:1;
   
}
.imp-links h3{
    /* margin-left: 100px; */
}
.imp-links .prod-list{
    margin-left: 100px;
}

.downfoot{
   color: #00000093;
    margin-top: 30px;
    text-align: center;
}